@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');

//---GLOBAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;  
}

section{
    padding: 50px;
}

h2{
    padding: 0;
    color: black;
    text-align: center;
    margin: 0 auto 50px;
    text-transform: uppercase;
    font-size: 32px;   
}

//---Accueil

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 15;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;

    .click-menu{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        a {
            display: flex;
            align-items: center;
            span {
                color:white;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 7px;
            }
            span:first-child{
                margin-right: 5px;
            }
            span:last-child{
                margin-left: 5px;
            }
        } 
        .burger {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            
            &:hover > span{
                background-color: #7ed6df;
            }
        
            span {
                margin-bottom: 3px;
                background-color: white;
                height: 3px;
                width: 25px;
                transition: all 0.5s ease-in-out;
            }
            span:last-child{
                margin-bottom: 0;
            }
            
        }
        .burger-cross span:first-child {
            top: 18px;
            transform: rotate(135deg) translate(5.5px, -3px);
        }
        .burger-cross span:last-child {
            top: 18px;
            transform: rotate(-135deg) translate(5.5px, 3px);
        }
    
        .burger-cross span:nth-child(2) {
            opacity: 0;
            transform: translateX(-20px);
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        background: rgba(0,0,0,0.7);
        position: fixed;
        top: 57px;
        z-index: 10;
        padding: 20px;
        a:hover {
            border-bottom: 2px solid #7ed6df;
        }
    }
  
}
.menu{
    display: none;
}

.open{
    display: flex;
}

.anim-nav {
    background: #1d282b;
    border-bottom: 1px solid #f1f1f1; 
}

.bienvenue{
    height: 100vh;
    background-image: 
    linear-gradient(0deg, rgba(201, 201, 201, 0.362) 0%, rgba(0, 0, 0, 0.468) 89%),
    url('../images/agustin-diaz-gargiulo--unsplash.png');
    background-size: cover;
    background-position: bottom;
    filter: grayscale(90%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: content-box;
    z-index: 1;
    padding-top: 140px;
    
   
    .pres{
        padding: 40px;
        color: white;
        font-size: 20px;
        text-align: center;
        span{
            opacity: 0;
            transition: all 0.4s ease;
        }
        span.fade{
            opacity: 1;
        }
    }
    
    .license{
        font-size: 11px;
        color: white;
        text-align: left;
        position: absolute;
        top: 83%;
        left: -35px;;
        a{
            color: white;
        }
    }
}


h1{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear 1;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

//------ Resume
.resume{
    min-height: 120vh;
    position: relative;
}

.drawing{
    position: absolute;
    left: 0;
    bottom: -79px;
    height: 200px;
    z-index: 12;
}
.collaborate{
    position: absolute;
    opacity: 0.1;
    right: 0;
    top: 6rem;
    height: 400px;
}
.box{
    width: 400px;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #f1f1f1;
    box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, 0.3),
                12px 12px 16px rgba(255,255,255,0.25);
  
    &:hover{
        box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
                    inset -6px -6px 10px 0 rgba(255,255,255,0.25);
    }
    h3{
        color: #7ed6df;
        text-align: center;
        font-size: 26px;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        text-align: center;
        line-height: 1.7rem;
    }

}
.recherche{
    margin: 50px;
}
.specialite{
    margin: 50px auto;
    i{
        font-size: 27px;
        margin-left: 10px;
    }
    img{
        height: 25px;
    }
    .express{
        height: 13px;
        width: 45px;
    }
    .technos >span{
        font-size: 14px;
        text-shadow: none;
    }
}
.fa{
    display: inline-block;
}
.profil{
    position: absolute;
    right: 100px;
}

.scroll-appear{
    opacity: 1;
    transform: translateY(0px);
}

.resume p:first-child{
    text-align: center;
    font-size: 28px;
}

.resume p span{
    text-shadow: #b9c1c1 2px 3px;
}


//----Réalisations

.container-projects{
    height: 100%;
    padding-bottom: 80px;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   
    .titre-projets{
        position: relative;
    }
    
    h3{
        padding: 10px;
    }
    .portfolio{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-auto-flow: row dense;
        height: auto;
        .project {
            cursor: pointer;
            margin: 20px auto;
            width: 300px;
            .project_infos{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &:hover img{
                filter: grayscale(100%);
            }
            &:hover .project_name{
                text-shadow: #b9c1c1 2px 3px;
            }
            
            .project_description{
                span{
                    color: white;
                    font-size: 14px;
                    padding: 0.05rem 0.2rem;
                }
                .react{
                    background: #61DAFB;
                }
                .redux{
                    background: #764ABC;
                }
                .node{
                    background: #679f63;
                }
                .express{
                    background: #EEEEEE;
                    color: black;
                }
                .mysql{
                    background: #4479A0;
                }
                .api{
                    background: black;
                }
                .js{
                    background: #F7E017;
                    color: black;
                }
                .sass{
                    background: #CE679B;
                }
            }
            .project_image{
                width: 300px;
                height: auto; 
            }
            .project_body{
                display: none;
                overflow: hidden;
            }
        
        }
        
    }
    
}

.detailProject{
    .project_infos{
        img{
            filter: grayscale(100%);
        }
        .project_name{
            text-shadow: #b9c1c1 2px 3px;
            font-style: italic;
        }
    }
}

.showProject{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
                inset -6px -6px 10px 0 rgba(255,255,255,0.25);
 
    h3{
        font-size: 17px;
        font-style: italic;
    }
    a{
        margin-right: 20px;
        background: #242A2E;
        color: white;
        text-decoration: none;
        padding:0.3rem;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .site{
        background: none;
        color: #5d9da4;
        font-weight: bold;
        i{
            color: #5d9da4;
        }
    } 
}


//Experiences

.experiences{
    p{
        text-align: center;
        font-size: 18px;
        line-height: 2rem;
    }
}



@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
    margin: 30px auto;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 10);
	}
	
	.slide {
		height: 100px;
		width: 250px;   
	}
}

//section contact
.contact{
    padding-top: 130px;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .bulle-contact{
        width: 70px;
    }
    .container-contact{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 30px;
        align-items: space-between;
        
        hr{
            border: 1px dashed #1d282b;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            
            *{
                width: min(600px, 92%);
                height: 40px;
                background: rgba(206, 206, 206, 0.64);
                border-radius: 6px;
                padding: 15px 30px;
                margin-bottom: 20px;
                font-size: 16px;
                color: #1d282b;
                border: none;
                font-family: inherit;
            }
            textarea{
                height: 100px;
            }
            
            .submit{
            width: 140px;
            background: #5a5a5a;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 47px;
            font-size: 16px;
            color: #FFFFFF;
            height: auto;
            font-weight: bold;
            margin: 0;
            cursor: pointer;
            &:hover{
                background: transparent;
                color: #5a5a5a;
                outline: 2px solid #5a5a5a;
                box-shadow: none;
            }
            }
        }
        .infos-contact{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
           
            p{
                a{
                    color:#5a5a5a;
                }
                a>i, i{
                    font-size: 30px;
                    margin-right: 15px;
                    cursor: pointer;
                    color:#5a5a5a;
                    &:hover{
                        color: #1d282b;
                       
                    }
                }
                a:hover + span, i:hover+span{
                    text-shadow: #b9c1c1 2px 3px;
                }
                span{
                   
                    transition: all 0.3s ease-in-out;
                }
                
            }
            .cv a{
                background-color: #5a5a5a;
                color: white;
                text-decoration: none;
                padding: 0.4rem 0.5rem;
                border-radius: 5px;
                &:hover{
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
                }
            }

        }
        
    }  
    
}


footer{
    height: 12vh;
    background:#1d282b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
       color: white;
       font-size: 13px;
       margin-top: 10px;
    }
}

//mentions légales
main{
    padding: 3rem;
    font-family: 'Montserrat', sans-serif; 
    .retour{
        background : #1d282b;
        color: white;
        text-decoration: none;
        padding:0.3rem;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

//media-queries


@media screen and (min-width: 1050px){
    .container-projects {
        .portfolio{
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            .project{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
        }
        .project_body{
            grid-column: span 3;
        }
    }
}

@media screen and (max-width: 1000px){
    .slider{
        width: 90%;
    }
}

@media screen and (max-width: 880px){
    .realisations{
        margin-top: 40px;
    }
    .contact .container-contact{
        width: 100%;
    }
}

@media screen and (max-width: 750px){
    .resume {
       height: 140vh;
       .box{
           margin: 30px auto;
       }
       .profil{
           position: initial;
       }
    }
    .slider{
        width: 100%;
    }
    
    .contact .container-contact{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        hr{
           display: none;
        }
        form, .infos-contact{
            width: 80%;
        }
        .infos-contact{
            margin-top: 30px;
            justify-content: space-around;
            >*{
                margin-bottom: 20px;
                margin-left: 20px;
            }
            .cv{
                display: block;
                margin: 30px auto;

            }
        }
    }
}
@media screen and (max-width: 630px){
    .bienvenue{
        padding:0;
        .pres{
            padding: 20px;
            line-height: 30px;
            font-size: 18px;
        }
    }
    h1{
        font-size: 30px;
        animation: none;
        color: white;
        padding-top: 140px;
        background-image: none;
        position: initial;
        -webkit-background-clip: unset;
        background-clip: unset;
        -webkit-text-fill-color: unset;
        background-repeat: no-repeat;
    }
    h2{
        margin: 40px auto 50px;
    }
   
    .resume{
        position: initial;
        height: auto;
        padding: 20px;
        .collaborate, .drawing{
            display: none;
        }
        .box{
            width: 280px;
            padding: 10px;
        }
    }
    .experiences{
        padding: 20px;
    }
   
    .container-projects{
        padding: 20px;
    }
    .contact{
        padding: 0;
        clip-path: unset;
        .container-contact{
            padding: 20px;
        }
    }
}
@media screen and (max-width: 470px){
   
    .bienvenue h1{
        font-size: 25px;
    }
    .contact .container-contact{
        form, .infos-contact{
            width: 100%;
        }
    }
    .container-projects .portfolio .project{
        width: 250px;
        .project_image{
            width: 250px;
        }
    }

    .showProject{
        a:last-of-type{
            display: inline-block;
        }
    }
}
