//Global

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    color: #5a5a5a;
    
}

// .container{
//     scroll-snap-type: y mandatory;
//     overflow-y: scroll;
//     height: 100vh;
// }

section{
    height: 100vh;
    padding: 30px;
    // scroll-snap-align: start;
}

h2{
    margin: 0 0 5px;
    padding: 0;
    color: black;
}

//Accueil

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 15;
    border: 1px solid blue;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;

    .click-menu{
        display: flex;
        gap: 20px;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            span {
                color:white;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 7px;
            }
            span:first-child{
                margin-right: 5px;
            }
            span:last-child{
                margin-left: 5px;
            }
        } 
        .burger {
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            span {
                margin-bottom: 3px;
                background-color: white;
                height: 3px;
                width: 25px;
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: rgba(0,0,0,0.7);

        
    }
    .open{
        opacity: 1;
    }
   
}

.anim-nav {
    background: #1d282b;
    border-bottom: 1px solid #f1f1f1; 
}

.bienvenue{
    background-image: 
    linear-gradient(0deg, rgba(209,207,207,0.3617822128851541) 0%, rgba(0,0,0,0.4682247899159664) 89%),
    url('../agustin-diaz-gargiulo--unsplash.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: content-box;
    z-index: 1;

    
    p{
        padding: 40px;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .license{
        font-size: 11px;
        color: white;
        text-align: left;
        position: absolute;
        top: 83%;
        left: -35px;;
        a{
            color: white;
        }
    }
}



h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear 1;
    position: relative;
    margin: 0 auto;
    padding-top: 140px;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

//Resume

.recherche{
    border: 1px solid black;
    width: 500px;
    padding: 20px;
    text-align: center;
}


.resume p:first-child{
    text-align: center;
    font-size: 28px;
}

//Recherche
.recherche {
    p:nth-child(3) {
        text-align: center;
    }
    p:nth-child(4) {
        text-align: right;
    }
}



//Réalisations

.container-projects{
    border: 1px solid red;
    height: auto;
    background-color: aquamarine;   

    h2{
        padding-top: 10px;
    }
    .portfolio{
        
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-auto-flow: row dense;
        counter-reset: portfolio;
        .project {
            cursor: pointer;
            margin-bottom: 20px;
            counter-increment: portfolio;
            .project_image{
                width: 200px;
                height: auto;
                
            }
            .project_name::after{
                content: counter(portfolio);
            }
            .project_body{
                display: none;
                overflow: hidden;
                
            }
        }
    }
    
}


//Experiences

.experiences{
    background: lightgrey;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.anim-flip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;

    #flip {
        text-align: center;
        height: 50px;
        overflow: hidden;
    }

    #flip > div > div {
        height: 50px;
        padding: 4px 12px;
        margin-bottom: 45px;
        display: inline-block;
    }
    #flip div:first-child{
        animation: show 7s linear 2;
    }

    #flip div div {
        background: #506D84;
        color: white;
    }

    #flip div:first-child div {
        background: #6D8299;
    }

    #flip div:last-child div {
        background: #343A40;
    }
}

@keyframes show {
    0% { margin-top: -270px}
    5% { margin-top: -180px}
    33% { margin-top: -180px}
    38% { margin-top: -90px}
    66% {margin-top: -90px}
    71% {margin-top: 0px}
    99.99% { margin-top: 0px}
    100% {margin-top: 270px}
}

@media screen and (min-width: 700px){
    .container-projects {
        height: 100vh;
        .portfolio{
            grid-template-columns: repeat(3, 1fr)
        }
        .project_body{
            grid-column: span 3;
        }
    }
}

